.fa-facebook{
    background-color: blue;    
    font-size: 40px;
    color: #fff;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;

}

.animate-h1{
    text-align: center;
    margin-top: 20px;
    background-color: brown;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
}

h2{
    text-align: center;
}

.fa-whatsapp-square{
    font-size: 60px !important;
    color: green;
    padding: 5px;
    margin-right: 20px;

}

.wow-div{
    text-align: center;
    font-size: 40px;
    background-color: chocolate;
    color: #fff;
    margin-bottom: 30px;
}